<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Новая задача</mat-label>
            <input matInput name="text" formControlName="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Категория</mat-label>
            <mat-select (selectionChange)="onChange($event)" name="selectedCategory" formControlName="selectedCategory">
                <mat-option *ngFor="let todo of todoList; trackBy: track" [value]="todo.id">{{todo.title}}</mat-option>
                <mat-option value="newCategory">Новая категория</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" [ngClass]="{hide: !newCategory}">
            <mat-label>Новая категория</mat-label>
            <input matInput name="category" formControlName="category">
        </mat-form-field>
        <section>
            <div>
                <button type="button" mat-raised-button color="primary" (click)="closeModal()">Отмена</button>
                <button mat-raised-button color="accent" [disabled]="!reactiveForm.valid">Ок</button>
            </div>
        </section>
    </form>
<div class="overlay"></div>